@charset "ISO-8859-1";
.hi{
		text-align: center;
	 color: black;
   box-shadow: 5px 5px 5px grey;
    margin-left: auto;
  margin-right: auto;
  height :300px;
  width : 400px;
  position: center;
   box-shadow: 5px 5px 5px grey;
}
.navbar {
  background-color: #ff8040;
  overflow: auto;
}

.navbar h2 {
  float: center;
  padding: 10px;
  color: white;
  text-align: center;
  font-size: 18px;
  
}
.create
{
	text-align: center;
	
}
.container {
	text-align: center;
}
.ho {
	text-align: center;
}

